/* header part section 01 Start */
*{
    margin: 0px;
    padding: 0px;
}
.section01{
    height: 610px;
    background-color: rgba(250, 108, 148, 0.408);
}
.header-img > img{
    height: 510px;
    width: 440px;
    padding-top: 100px;
    margin-right: 100px;
}
.p-section1{
    display: flex;
    justify-content: space-around;
}
.header-txt{
    margin-left: 150px;
}
.header-txt span{
    color: red;
}
.header-txt h1{
    font-size: 50px;
    padding-top: 200px;
    padding-bottom: 8px;

}
.header-txt p{
    font-size: 20px;
    width: 70%;
    padding-bottom: 10px;
}
.primary-btn{
    padding: 10px 18px;
    border-radius: 4px;
    border: none;
    background-color: rgba(240, 33, 68, 0.825);
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-weight: bold;
}
.primary-btn:hover{
    color:black;
    background-color: white;
    transition: 1s;
    
}



/* header part section 01 End */

/* header part section 02 Start */
.section02{
    height: 500px;
}
.sct2-txt{
    text-align: center;
    margin-top: 100px;
}
.sct2-txt h3{
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
}


/* section2 images part start */
.p-sct2-imgs{
    display: flex;
    align-items: center;
    margin-left: 400px;
    gap: 15px;
}
.sct2-img1{
    height: 300px;
    width:250px;
    border-radius: 100px 100px 0px 0px;
    margin-top: 40px;
    background-color: rgba(93, 250, 250, 0.929);
    
}
.sct2-img2{
    height:300px;
    width:250px;
    border-radius: 100px 100px 0px 0px;
    margin-top: 40px;
    background-color: rgb(98, 198, 251);
    
}
.sct2-img3{
    height:300px;
    width:250px;
    border-radius: 100px 100px 0px 0px;
    margin-top: 40px;
    background-color: rgb(245, 102, 253);
   
}
.sct2-img1 >img{
    height: 200px;
    width: 150px;
    align-items: center;
    padding-left:42px;
    padding-top:50px;
    
}
.sct2-img2 >img {
    height: 220px;
    width: 170px;
    align-items: center;
    padding-left:40px;
    padding-top:50px;
}
.sct2-img3 >img{
    height: 210px;
    width: 160px;
    align-items: center;
    padding-left:38px;
    padding-top:40px;
}
.sct2-img1 .p1{
    padding-left: 26px ;
    padding-top: 50px;
}
.sct2-img2 .p2{
    padding-left: 42px ;
    padding-top: 31px;
}
.sct2-img3 .p3{
    padding-left: 39px;
    padding-top: 50px;
}
/* section2 images part end */



/* header part section 02 End */

/* section 03 Start */
.section03{
    width: 100%;
    height: 340px;
    background-color:rgba(249, 115, 153, 0.23) ;
}
.p-section3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;
}
.sct3-img{
    height: 240px;
    width: 190px;
    margin-right: 400px;
}
.sct3-txt{
    width: 50%;
    text-align: center;
    margin-left: 160px;
}
.sct3-txt p{
    width: 50%;
    margin-left: 191px;
    padding-bottom: 4px;
}
.sct3-txt span{
    color: rgb(230, 36, 68);
}


/* section 03 End */