/* navbar */

@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
}
* {
	margin: 0;
	padding: 0;
}
i {
	margin-right: 10px;
}
/*----------bootstrap-navbar-css------------*/
.navbar-logo{
	padding: 15px;
	color: #fff;
}
.navbar-mainbg{
	background-color: #5161ce;
	padding: 0px;
}
#navbarSupportedContent{
	overflow: hidden;
	position: relative;
}
#navbarSupportedContent ul{
	padding: 0px;
	margin: 0px;
}
#navbarSupportedContent ul li a i{
	margin-right: 10px;
}
#navbarSupportedContent li {
	list-style-type: none;
	float: left;
}
#navbarSupportedContent ul li a{
	color: rgba(255,255,255,0.5);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}
#navbarSupportedContent>ul>li.active>a{
	color: #5161ce;
	background-color: transparent;
	transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}
#navbarSupportedContent .active>a:not(:only-child):after {
	transform: rotate(90deg);
}
.hori-selector{
	display:inline-block;
	position:absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: #fff;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left{
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #fff;
	bottom: 10px;
}
.hori-selector .right{
	right: -25px;
}
.hori-selector .left{
	left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before{
	content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #5161ce;
}
.hori-selector .right:before{
	bottom: 0;
    right: -25px;
}
.hori-selector .left:before{
	bottom: 0;
    left: -25px;
}


@media(min-width: 992px){
	.navbar-expand-custom {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.navbar-expand-custom .navbar-toggler {
	    display: none;
	}
	.navbar-expand-custom .navbar-collapse {
	    display: -ms-flexbox!important;
	    display: flex!important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}
}


@media (max-width: 991px){
	#navbarSupportedContent ul li a{
		padding: 12px 30px;
	}
	.hori-selector{
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.hori-selector .left,
	.hori-selector .right{
		right: 10px;
	}
	.hori-selector .left{
		top: -25px;
		left: auto;
	}
	.hori-selector .right{
		bottom: -25px;
	}
	.hori-selector .left:before{
		left: -25px;
		top: -25px;
	}
	.hori-selector .right:before{
		bottom: -25px;
		left: -25px;
	}
}

/* header part section 01 Start */
*{
    margin: 0px;
    padding: 0px;
}
.section01{
    height: 610px;
    background-color: rgba(250, 108, 148, 0.408);
}
.header-img > img{
    height: 510px;
    width: 440px;
    padding-top: 100px;
    margin-right: 100px;
}
.p-section1{
    display: flex;
    justify-content: space-around;
}
.header-txt{
    margin-left: 150px;
}
.header-txt span{
    color: red;
}
.header-txt h1{
    font-size: 50px;
    padding-top: 200px;
    padding-bottom: 8px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;

}
.header-txt p{
    font-size: 20px;
    width: 70%;
    padding-bottom: 10px;
}
.primary-btn{
    padding: 10px 18px;
    border-radius: 4px;
    border: none;
    background-color: rgba(240, 33, 68, 0.825);
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-weight: bold;
}
.primary-btn:hover{
    color:black;
    background-color: white;
    transition: 1s;
    
}
/* header part section 01 End */

/* header part section 02 Start */
.section02{
    height: 500px;
}
.sct2-txt{
    text-align: center;
    margin-top: 100px;
}
.sct2-txt h3{
    margin-left: 90px;
    font-size: 27px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
}
.sct2-txt p{
    font-size: 18px;
    margin-left: 90px;
}
/* section2 images part start */
.p-sct2-imgs{
    display: flex;
    align-items: center;
    margin-left: 400px;
    gap: 20px;
}
.sct2-img1{
    height: 300px;
    width:250px;
    border-radius: 100px 100px 0px 0px;
    margin-top: 40px;
    background-color: rgba(124, 253, 253, 0.929);
    box-shadow: 4px 4px 6px gray,-4px -4px 6px gray;
    
}
.sct2-img2{
    height:300px;
    width:250px;
    border-radius: 100px 100px 0px 0px;
    margin-top: 40px;
    background-color: rgb(116, 206, 255);
    box-shadow: 4px 4px 6px gray,-4px -4px 6px gray;
}
.sct2-img3{
    height:300px;
    width:250px;
    border-radius: 100px 100px 0px 0px;
    margin-top: 40px;
    background-color: rgb(249, 131, 255);
    box-shadow: 4px 4px 6px gray,-4px -4px 6px gray;
}
.sct2-img1 >img{
    height: 200px;
    width: 150px;
    align-items: center;
    padding-left:42px;
    padding-top:50px;
    
}
.sct2-img2 >img {
    height: 220px;
    width: 170px;
    align-items: center;
    padding-left:40px;
    padding-top:50px;
}
.sct2-img3 >img{
    height: 210px;
    width: 160px;
    align-items: center;
    padding-left:38px;
    padding-top:40px;
}
.sct2-img1 .p1{
    padding-left: 20px ;
    padding-top: 50px;
    font-size: 18px;
}
.sct2-img2 .p2{
    padding-left: 30px ;
    padding-top: 31px;
    font-size: 18px;
}
.sct2-img3 .p3{
    padding-left: 32px;
    padding-top: 50px;
    font-size: 18px;
}
/* section2 images part end */
/* header part section 02 End */

/* section 03 Start */
.section03{
    width: 100%;
    height: 341px;
    background-color:rgba(249, 115, 153, 0.23) ;
}
.p-section3{
    height: 340px;
    display: flex;
    align-items: center;
    padding-top: 100px;
}
.sct3-img{
    height: 241px;
    width: 190px;
    margin-right: 410px;
    margin-bottom: 150px;
}
.sct3-txt{
    font-size: 18px;
    width: 50%;
    text-align: center;
    margin-left: 160px;
    padding-bottom: 150px;
}
.sct3-txt p{
    font-size: 15px;
    width: 50%;
    margin-left: 191px;
    padding-bottom:5px;
}
.sct3-txt span{
    color: rgb(230, 36, 68);
}
/* section 03 End */
/* section 04 Start */
.section04{
    height: 450px;
}
.sct4-txt{
    text-align: center;
    margin-top: 80px;
}
.sct4-txt h1{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.p-sct4 .img1,.img2,.img3,.img4{
    height: 255px;
    width: 220px;
    box-shadow: 4px 4px 6px gray;
}
.p-sct4{
    display: flex;
    margin-left: 320px;
    gap: 10px;
    align-items: center;
    padding-top: 65px; 
}


/* section 04 End */
/* Bonus sectiom Start */
.bonus-sct{
    height: 550px;
    width: 100%;
    background-image: url('./form.png');
    background-position:center ;
    background-size: cover;
    background-repeat: no-repeat;
}
.p-bns{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.p-bns label{
    font-size: 20px;
}
.form-info{
    padding-top: 140px;
    font-size: 18px;
    font-weight: bold;
}
.flwr-nm1{
    margin-top: 60px;
}
.bks-nm1{
    margin-top: 60px;
}
.primary-nm{
    margin-top: 10px;
}
.box1 h2{
    padding-top: 20px;
    color: rgb(0, 136, 255);
}
.box2 h2{
    padding-top: 20px;
    color: blueviolet;
}
.form-info h1{
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}
.rigth-border{
    border-right: 4px solid rgb(252, 68, 102);
    height: 250px;
    margin-top: 150px;
    
}
.bns-boxes{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 120px;
}
.bns-boxes .box1{
    height: 280px;
    width: 300px;
    background-color: white;
    padding-top: 15px;
    padding-left: 10px;
    border-radius: 70px 0px 80px 0px;
    border: 5px dotted ;
}
.bns-boxes .box2{
    height: 280px;
    width: 300px;
    background-color: white;
    padding-top: 15px;
    padding-left: 10px;
    border-radius:  0px 70px 0px 80px;
    border: 5px dotted ;
}

.input1{
    margin-top: 10px;
    padding: 8px 30px; 
    margin-left: 75px;
    border: none;
    border-radius: 10px;

}
.input2{
    margin-top: 10px;
    padding: 8px 30px; 
    margin-left: 68px;
    border: none;
    border-radius: 10px;
}
.input3{
    margin-top: 10px;
    padding: 20px 30px; 
    margin-left: 58px;
    border: none;
    border-radius: 10px;
}
.input4{
    margin-top: 10px;
    padding: 8px 30px; 
    border: none;
    border-radius: 10px;
}

.bns-btn-ckbx{
    text-align: center;
    padding-left: 735px;
    padding-top: 30px;
}
.bns-btn-ckbx p{
    padding-bottom: 15px;
}
.p-button{
    padding: 10px 30px;
    border: none;
    background-color: rgb(252, 68, 102);
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color: white;
}
.p-button:hover{
    background-color: white;
    color: black;
    transition: 1s;
    cursor: pointer;
}

/* Bonus sectiom End */
/* section 05 Start */
.section05{
    height: 500px;
    width: 100%;
}
.p2-sct5{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sct5 .sct5-img{
    background-image: url('./section05-flower01.png');
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 110px;
    border-radius:10px;  
}
.sct5-txt h1{
    display: block;
    font-size: 30px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
}
.sct5-txt p{
    display: block;
    font-size: 17px;
    text-align: center;
    margin-top: 10px;
}
.sct5-txt{
    padding-top: 60px;
    
}
.input-mail{
    padding: 15px 50px;
    margin-left: 300px;
    border: none;
    border-radius: 5px;
}
.input-btn{
    padding-top: 20px;
    margin-right: 300px;
}
/* section 05 End */
/* Footer part Start */
footer{
    height: 407px;
    width: 100%;
    background-color: black;
    color: white;
}
.footer-info{
text-align: center;
padding-top: 100px;
}
.footer-info h1{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
}
.footer-info p{
    font-size: 18px;
}
.footer-info span{
    color: rgb(254, 85, 113);
}
.footer-cpyright{
    text-align: center;
    padding-top: 190px;
}

/* Footer part Start */