/* header part section 01 Start */
*{
    margin: 0px;
    padding: 0px;
}
.section01{
    height: 610px;
    background-color: rgba(250, 108, 148, 0.408);
}
.header-img > img{
    height: 510px;
    width: 440px;
    padding-top: 100px;
    margin-right: 100px;
}
.p-section1{
    display: flex;
    justify-content: space-around;
}
.header-txt{
    margin-left: 150px;
}
.header-txt span{
    color: red;
}
.header-txt h1{
    font-size: 50px;
    padding-top: 200px;
    padding-bottom: 8px;

}
.header-txt p{
    font-size: 20px;
    width: 70%;
    padding-bottom: 10px;
}
.primary-btn{
    padding: 10px 18px;
    border-radius: 4px;
    border: none;
    background-color: rgba(240, 33, 68, 0.825);
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-weight: bold;
}
.primary-btn:hover{
    color:black;
    background-color: white;
    transition: 1s;
    
}



/* header part section 01 End */